<% provide :title, t(:profile_edit_title) %>
<h1><%= t :profile_edit_title %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "users/form" %>
    
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <%= link_to t(:profile_edit_avatar), "http://gravatar.com/emails" %>
    </div>
  </div>
</div>