<div class="col-md-6 word">
  <div class="row">
    <div class="col-md-4 col-md-offset-1"><%= word.content %></div>
    <div class="col-md-4 col-md-offset-2"><%= word.correct_answer.content %></div>
  </div>
</div>