<% provide :title, t(".title") %>

<h1><%= t ".title" %></h1>
<%= button_to t(".new"), new_admin_category_path,
  method: "get", class: "btn btn-primary" %>
<ul class="categories">
  <%= render @categories %>
</ul>
<%= paginate @categories %>
