<% provide :title, t(".title", category: @category.name) %>
<div class="row">
  <%= render @category %>
</div>
<div class="row">
  <h2><%= t ".answers" %><h2>
  <%= button_to t(".add_word"), [:new, :admin, @category, :word],
    method: "get", class: "btn btn-primary" %>
  <%= render @category.words %>
</div>
